<div class="testimonial">
  <div class="testimonial-content">
    <div class="testimonial-header">
      <div class="avatar">
        <div class="avatar-mock">
          <span class="avatar-initials">SJ</span>
        </div>
      </div>
      <blockquote class="quote">
        "{{ testimonialQuote }}"
      </blockquote>
    </div>
    
    <div class="testimonial-footer">
      <div class="rating-author">
        <div class="rating">
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
          <span class="star">★</span>
        </div>
        <div class="author-info">
          <span class="author-name">{{ testimonialAuthor }}, {{ testimonialTitle }}</span>
        </div>
      </div>
    </div>
  </div>
</div>